main {
    background-color: $color-background-main;

    section {
        h1 {
            font-size: $size-titulo;
            font-weight: 100px;
            color: $color-background-main-h1;
            background-color: $color-background-main;
            margin: 10px;
        }
    }

    .cabecera {
        margin-bottom: 20px;

        div {
            img {
                width: 100%;
                height: 150px;
            }
        }


        .cabecera-buscardesde {
            margin-left: 10px;
            margin-bottom: 10px;
            label {

            }
            input {

            }
        }


        .cabecera-filtro {
            // display: flex;
            // flex-direction: row;
            // justify-content: flex-start;
        
            //@extend %flex-fd_row-jc_start;
            @include flex(flex,row,start,start);

            margin-left: 10px;

            div {
                label {
                    margin-right: 10px;
                }
                // select {
                //     option {

                //     }
                // }
            }

            div {
                .datoabuscar {
                    margin-left: 10px;
                }
                // input {

                // }
                a{
                    .buscar {
                        width: 70px;
                    }
                }
            }
        }
    }

    .detalle {
        div {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            margin: 10px;

            img {
                border-style: double;
                width: 99.5%;
                height: 400px;
            }
        }
    }

    .accion {
        div {
            background-color: $color-background-accion;
            height: 100px;
            display: flex;
            ul {
                list-style: none;
                @include flex(flex,row,center,center);
                //@extend %flex-jc_center-ai_center;
                // display: flex;
                // justify-content:center;
                // align-items : center;
                flex-wrap: wrap;
                li {
                    .link2 {
                        background-color: $color-background-accion;
                        color: $color-background-accion-link;
                        text-decoration: none;
                        list-style: none;
                        margin: 15px; 
                    }
    
                }
            }
        }
    }
    
   
}